APP_NAME=MeuSaldo
APP_ENV=development
APP_DEBUG=true
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/meusaldodb
CORS_ORIGINS=http://localhost:5173
JWT_SECRET_KEY=change-me-in-development
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
